@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.aboutContent {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 5px;


}
.imageLeft {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.imageLeft h3 {
  color: var(--font-color-white);
  font-size: 36px;
  font-family: var(--source-sans-pro);
  font-weight: 400;
  padding: 8px;
}
.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;


}
.aboutText h2 {
  color: var(--font-color-white);
  font-family: var(--source-sans-pro);
  font-size: 120px;
  font-weight: 400;
}
.aboutText p {
  color: var(--font-color-white);
  font-family: var(--montserrat);
  font-size: 18px;
  text-align: center;
  margin: 10px;
}
.backgroundMotion {
  position: absolute;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -999;
}
.element-1,
.element-2,
.element-3,
.element-4,
.element-5 {
  opacity: 0.3;
  overflow: hidden;
  z-index: -999;


}
.element-1 {
  margin-left: -160px;
  margin-top: 200px;
}
.element-2 {
  margin-left: 300px;
  margin-top: 630px;
}
.element-3 {
  margin-top: -20px;
}
.element-4 {
  margin-top: -50px;
  margin-right: -560px;
}
.element-5 {
  margin-top: 600px;
  margin-right: -50px;
}
@media (max-width:450px) {
  #about h3{
    text-align: center;
    font-size: 26px;
  }
  #about h2{
    font-size: 40px;
    margin: 0;
    padding: 0;
  }
  .aboutContent{
    flex-direction: column;
  }
  .imageLeft img{
    width: 200px;
    height: 200px;
    margin-top: 0;
  }
 
}

@media (min-width:700px) {
  
 #about p {
  font-size: 16px;
 }
 .aboutContent{
   flex-direction: column;
 }
 #about img{
  width: 300px;
  height: 300px;
 }
 #about h2{
  font-size: 76px;
 }

 
}