footer{
  display: flex;
  justify-content: space-around;
  font-family: var(--montserrat);
  color: var(--font-color-white);
  padding: 8px;
  border-top: 2px solid var(--blue-background-color);
}
footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer p{
  align-self: center;
}

footer ul li{
  padding: 8px;

}
@media (max-width:450px) {

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer p{
    font-size: 10px;
  }
  footer svg{
    width: 35px;
    height: 35px;
  }
  
}