header {
  font-family: var(--source-sans-pro);
}
header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;

}
.headerLogo {
  width: 70px;
  height: 70px;
  margin-top: 4px;
}
@media (max-width: 568px) {
  .headerLogo {
    margin: 25px auto;
    width: 40px;
    height: 40px;
  }
  ul {
    display: flpxex;
    justify-content: center;
    align-items: center;
  }
}
