.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}
.home ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  min-width: 150px;
  margin-bottom: 50px;
  margin-top: 30px;
}
.home ul li {
  padding-left: 10px;
}
.homeCopy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: var(--montserrat);
  height: 100%;
  width: 100%;
}
.homeImg {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  flex-direction: column;
  transition: opacity 0.7s ease-out;
}
.homeImg:hover {
  opacity: 0.5;
  cursor: pointer;
}
.home h1{
  font-size: 150px;
  color: var(--font-color-white);
  font-weight: 500
}
.home span {
  color: var(--main-color-orange);
  text-shadow: 0 1px 7px rgba(244, 201, 33, 0.37);
  font-size: 50px;
  padding: 5px;
}
.intro{
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
  color: var(--font-color-white);
}
@media (max-width: 450px) {

  .home{
    flex-direction: column;
    margin: 25px;  }
  .home h1 {
    font-size: 40px;
    text-align: center;
    padding: 5px;
  }
  .home h3 {
    font-size: 20px;
    margin: 0 auto;
  }
  .intro{
    text-align: center;
    padding: 5px;
  }
  span.skill {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
  }
  .home ul {
    margin: 0px auto;
    justify-content: center;
  }
  section.homeCopy{
    margin: 0;
  }
}
@media (min-width: 700px) {
  .home {
    flex-direction: column;
  }
 .home h1{
  font-size: 100px;
 }
  .a-3 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
  }
  .home p .intro {
    text-align: center;
    font-size: 18px;
    width: 100%;
  }
  section.socialHome {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .a-2 {
    font-size: 15px;
    margin: 0 auto;
  }
  .homeImg {
    display: none;
  }
}
