.portifolio {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-name{
  color: var(--font-color-white);
  font-size: 26px;
  font-family: var(--source-sans-pro);
  font-weight: 400;
 
}
.title-2{
  text-align: center;
  font-size: 60px;
  color: var(--font-color-white);
  font-family: var(--source-sans-pro);
  font-weight: 400;

}
.title-3{
  color: var(--font-color-white);
  font-family: var(--source-sans-pro);
  font-weight: 400;
  font-size: 20px;
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #eb8d0b;
  border-radius: 8px;
  width: 280px;
  height: 280px;
  margin: 50px 20px;
  padding: 5px;
}
.card:hover{
  transform: scale(1.1) ;
  background-image: url(../assets/imagens/logo.gif);
  background-position: center;
  padding: 5px;
}
ul {
  list-style: none;
}
@media (max-width: 414px) {
  .portifolio{
    flex-direction: column;
  }
  .portifolio h3 {
    text-align: center;
    font-size: 26px;
    margin-top: 60px;
  }
  .card {
    margin: 10px;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 700px) {
  .cards-container {
    flex-wrap: wrap;
  }
  .card {
    margin: 10px;
    max-width: 250px;
    max-height: 250px;
  }
}
