.portifolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards{
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items:center ;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eb8d0b;
  border-radius: 8px;
  width: 350px;
  height: 280px;
  margin: 50px 20px;
  padding: 5px;
}
.card:hover{
  transition: 200ms linear  ;
  cursor: pointer;
  transform: scale(1.1) ;
  background-position: center;
}
ul {
  list-style: none;
}
.skills{
  color: var(--main-color-orange);
}
@media (max-width: 425px) {
  .portifolio{
    flex-direction: column;
  }
  .portifolio h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
  }
  .portifolio h3{
    font-size: 20px;
  }
  .card {
    margin: 10px;
    width: 200px;
    height: 200px;
  }
  .cards{
    flex-direction: column;
  }
}
@media (min-width: 700px) {
  .cards{
    flex-wrap: wrap;
  }
  .card {
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
  }
 
}
