/*
COLORS
#222831;
#2D4059;
#D9D9D9;
#F89406.
*/

/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


/*GERAL*/ 
*{
  padding: 0;
  margin: 0;
  font-family: 'Varela Round';
  box-sizing: border-box;
}
html{
  background-color: #222831;
}
header{
  border-bottom: 2px solid #2D4059;
  background-color: #222831;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  padding: 15px;
  margin:10px;

}  
ul{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: #222831;
  list-style: none;
}
svg{
  width: 100%;
}
h2{
  color:#2D4059; 
}
li{
  font-size: 22px;
  color: #d9d9d9;
  padding: 5px;
}
.headerLogo{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;  
}
p{
  font-size: 22px;
  color: #d9d9d9;
}
.techs{
  list-style: none;
}
.titles{
  color: #F89406;
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
}
li a{
  text-decoration: none;
  color: #d9d9d9;
}
li a:hover{
  color:#F89406;
  text-decoration: none;
}

/*FIRST PAGE CONTAINER*/
.firstPage{
  width: 100%;
}
/*PRESENTATION*/

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation{

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;
  padding: 15px;
  overflow: hidden;
  background-color: #222831;
}
.presentationTitle{
  margin: 0 auto;
  font-size: 3rem;
  max-width: 800px;
  text-align: center;
  color: #d9d9d9;
}
.presentationText{
  
  margin:0 auto;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  color: #d9d9d9;
}
.devices{
  width: 100%;
  margin-top: 25px;
  fill: #1186e564;
  animation: infinite;
}

.myName{
  color: #F89406;
}
/*SKILLS*/
.mainSkills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222831;
  
}
.techs li{
  margin:15px 5px;
  width: 100%;
}
/*PROJECTS*/
#projects{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  background-color: #222831;
 
}
.project{
  border-radius: 5px;
  max-width:300px ;
  min-height: 100px;
  padding: 15px;
}
.title{
  color: #000000;
  text-align: center;
  font-size: 30px;
}
.project h4{
  text-align: center;
  color: #d9d9d9;
  padding: 15px 15px 5px 15px;
}
.project p{
  text-align: center;
  color: #d9d9d9;
  font-size: 16px;
  margin-bottom: 0;
}
.project ul{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items:center;
  background-color: #09D5EFbe;
  margin: 0;
}
.project ul li{
  font-size: 10px;
  background-color: #2D4059;
  color: rgba(217, 217, 217, 0.500);
  margin: 5px;
  border-radius: 3px;
  width: 50px;
  height: 20px;
  text-align: center;
  line-height: normal;

}
div .buttonSee{
  display: flex;
  padding-top: 15px;
  justify-content: center;
  align-items: center;

}
.top{
  background-color: #09d4ef;
  border-radius: 5px 5px 5px 5px;
  height: 40%;
  text-align: center;
}
.p2 .top{
  background-color: #e51162;
}
.p2 .top ul{
  background-color: #e51162;
}
.p3 .top{
  background-color: #e52611;
}
.p3 .top ul{
  background-color: #e52611;
}
.p4 .top{
  background-color: #11e589;
}
.p4 .top ul{
  background-color: #11e589;
}
.p5 .top{
  background-color: #1186e5;
}
.p5 .top ul{
  background-color: #1186e5;
}
.p6 .top{
  background-color: #e5d711;
}
.p6 .top ul{
  background-color: #e5d711;
}
.bottom{
  background-color:#2D4059;
  border-radius: 0px 0px 5px 5px;
  height: 150px;
}

/*ABOUT*/
.about{
  background-color: #222831;
  text-align: center;
  width: 100%;
}
h2.iDo{
  padding: 15px;
  text-align: center;
}
.ilustration svg{
  margin-bottom: 40px;
}
.presentationText{
  padding: 15px;
  font-size:20px ;

}
.available{
  color:#22e011d9;
}
.unavailable{
  color:#ed2416ab;
}
.resume{
  background-color: #F89406;

  border-radius: 5px;
  border: 0px;
  height: 50px;
  width: 150px;
  margin:15px;
  padding: 3px;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
a .resume{
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
}
.resume:hover,
.resume:focus,
.resume:active{
  color:#000000;
  text-decoration: none;
  transition: all ease 0.3s;
  transform: scale(1.1);
  cursor: pointer;
}
.resume a:hover{
  color:#000000;
  text-decoration: none;

}

.points{
    font-size: 5rem;
    color:#F89406;
}
.point1{
  animation: lighting  2s linear 1s alternate infinite ;
}
.point2{
  animation: lighting  2s linear 3s alternate infinite ;
}
.point3{
  animation: lighting  2s linear 4.3s alternate infinite ;
}
.point4{
  animation: lighting  2s linear 2s alternate infinite ;
}
.point5{
  animation: lighting  2s linear 1.5s alternate infinite ;
}
/*LIST STYLE ANIMATION*/

@keyframes lighting{
  0%{
      opacity: 0.5;
       text-shadow:
      0 0 7px rgb(206, 184, 125),
      0 0 20px rgb(26, 26, 26),
      0 0 35px rgb(235, 220, 5),
      0 0 50px rgb(229, 162, 5),
     0 0 55px rgb(229, 162, 5),
      0 0 50px  rgb(229, 162, 5);
  }
  60%{
      opacity: 0.9;
     
  }
  80%{
      opacity: 0.5;
  }
  100%
  {
      opacity: 0.9;
    
  }
}

/*FOOTER*/
footer{
  background-color: #222831;
  border-top: 2px solid #2D4059;
  margin-top: 1.5rem;
}
.socialSvgGroup{
  list-style: none;
  background-color: #222831;
}
.socialSvgGroup li{
  padding: 10px;
  margin: 10px 5px;
}
.year{
  font-size: 1.2rem;
  text-align: center;
  padding: 15px;
  color:#d9d9d9;
}
footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*MOBILE*/

@media (max-width:450px) {
  #FanyLouiseLogo{
    height: 40px;
    width: 40px;
  }
  .navLink{
    display: none;
  }
  ul li{
margin-bottom: 15px;
  }
  .presentation h1{
    text-align: center;
  }
  .techs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project1, .project2, .project3{
    height: 300px;
    width: 270px;
    padding: 1rem;
    background-color: #f8930600;
    border:2px solid #F89406;
    border-radius: 15px;
    margin: 15px auto;
  }

}

@media (max-width:570px) {
  #FanyLouiseLogo{
    height: 40px;
    width: 40px;
  }
  .presentation h1{
    text-align: center;
  }
  .techs{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project1, .project2, .project3, .project4{
    height: 300px;
    width: 270px;
    padding: 1rem;
    background-color: #f8930600;
    border:2px solid #F89406;
    border-radius: 15px;
    margin: 15px auto;
  }
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }


}