@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/*GERAL*/ 
*{
  padding: 0;
  margin: 0;
  font-family: 'Varela Round';
  box-sizing: border-box;
}
html{
  background-color: #222831;
}
header{
  border-bottom: 3px solid #2D4059;
  background-color: #222831; 
}
nav ul li{
  margin:15px;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.techs{
  list-style: none;
}
ul svg{
  display: inline;
}
svg{
  width: 100%;
}
li{
  font-size: 30px;
  color: #d9d9d9;
  padding: 5px;
}
li a{
  text-decoration: none;
  color: #d9d9d9;
}
li a:hover{
  color: #F89406;
  text-decoration: none;
}

.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation{

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;
  padding: 32px;
  overflow: hidden;
  background-color: #222831;
}
.presentationTitle{
  margin: 0 auto;
  font-size: 3rem;
  color: #d9d9d9;
}
.presentationText{
  
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  padding: 5px;
  font-size: 22px;
  color: #d9d9d9;
}
.myName{
  color: #F89406;

}
.mainSkills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222831;
}
.mainTitle{
  color: #F89406;
  font-size: 3rem;
}
.projects{
  background-color: #222831;
}
.projectsTitle{
  color: #F89406;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}
.project1, .project2, .project3, .project4{
  height: 400px;
  width: 270px;
  padding: 1rem;
  background-color: #f8930600;
  border:3px solid #F89406;
  border-radius: 15px;
  margin: 0 auto;
}
.group{
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstPage{

  width: 100%;
}