/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*GERAL*/ 
*{
  padding: 0;
  margin: 0;
  font-family: 'Varela Round';
  box-sizing: border-box;
}
html{
  background-color: #222831;
}
header{
  border-bottom: 2px solid #2D4059;
  background-color: #222831; 
}

nav ul li{
  margin:15px;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #222831;
}
svg{
  width: 100%;
}
li{
  font-size: 22px;
  color: #d9d9d9;
  padding: 5px;
}
p{
  font-size: 22px;
  color: #d9d9d9;
}
p.blue{
  color:#2D4059;
}
.techs{
  list-style: none;
}
ul svg{
  display: inline;
}
.titles{
  color: #F89406;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}
li a{
  text-decoration: none;
  color: #d9d9d9;
}
li a:hover{
  color:#F89406;
  text-decoration: none;
}

/*FIRST PAGE CONTAINER*/
.firstPage{
  width: 100%;
}
/*PRESENTATION*/

.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation{

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;
  padding: 32px;
  overflow: hidden;
  background-color: #222831;
}
.presentationTitle{
  margin: 0 auto;
  font-size: 3rem;
  color: #d9d9d9;
}
.presentationText{
  
  margin: 5px auto;
  max-width: 800px;
  text-align: center;
  padding: 5px;
  font-size: 22px;
  color: #d9d9d9;
}
.myName{
  color: #F89406;

}

/*SKILLS*/
.mainSkills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222831;
  
}
.techs li{
  margin:15px 15px;
  
}
#SHIELD{
  animation: reflection ease 5s infinite;
}
@keyframes reflection{
  0%{
    stroke-dasharray: 60px;
  }
  100%{
    stroke-dasharray: 100px;
   
  }
}

/*PROJECTS*/
.projects{
  background-color: #222831;
}

.project1, .project2, .project3{
  height: 300px;
  width: 250px;
  padding: 1rem;
  background-color: #f8930600;
  border:3px solid #F89406;
  border-radius: 15px;
  margin: 15px auto;
}
.group{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*ABOUT*/

.about{
  background-color: #222831;
  text-align: center;
}
.ilustration svg{
  margin-bottom: 30px;
}
.author{
  color: #F89406;
  font-size: 0.8rem;
}
.author a{
  color: #F89406;
}
.author a:hover{
  color: #d9d9d9;
  text-decoration: none;
}
.available{
  color:#22e011d9;
  animation: light2 ease 5s infinite;
}
@keyframes light2{
    0%{
        opacity: 0.9;
      
    }
    60%{
        opacity: 0.8;
        
       
    }
    80%{
        opacity: 0.7;
     
    }
    100%
    {
        opacity: 1;
      
      
    }
  }
.unavailable{
  color:#ed2416ab;
}
.resume{
  border: 3px solid #F89406;
  background-color: #22283100;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  margin: 10px 0px;
  padding: 5px;

}
.resume a{
  font-size: 1.5rem;
  text-decoration: none;
  color: #d9d9d9;
}
.resume a:hover{
  color: #F89406;
  text-decoration: none;
}
.formation{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.courses{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.points{
    font-size: 6rem;
    padding: 0;
    margin:0;
    line-height: 1px;
    color:#F89406;
}
.point1{
  animation: lighting  2s linear 1s alternate infinite ;
}
.point2{
  animation: lighting  2s linear 3s alternate infinite ;
}
.point3{
  animation: lighting  2s linear 5s alternate infinite ;
}
.point4{
  animation: lighting  2s linear 2s alternate infinite ;
}
.point5{
  animation: lighting  2s linear 1.5s alternate infinite ;
}

/*LIST STYLE ANIMATION*/

@keyframes lighting{
  0%{
      opacity: 0.5;
       text-shadow:
      0 0 7px rgb(206, 184, 125),
      0 0 20px rgb(26, 26, 26),
      0 0 35px rgb(235, 220, 5),
      0 0 50px rgb(229, 162, 5),
     0 0 55px rgb(229, 162, 5),
      0 0 50px  rgb(229, 162, 5);
  }
  60%{
      opacity: 0.9;
     
  }
  80%{
      opacity: 0.5;
  }
  100%
  {
      opacity: 0.9;
    
  }
}
/*FOOTER*/
footer{
  background-color: #222831;
  border-top: 2px solid #2D4059;
}
.socialSvgGroup{
  list-style: none;
  background-color: #222831;

}
.socialSvgGroup li{
  padding: 10px;
  border:2px solid #2d405900;
  border-radius: 5px;
  margin: 10px 5px;
}
.socialSvgGroup li:hover{
 background-color: #2D4059;
}
.year{
  font-size: 1.2rem;
  text-align: center;
  padding: 15px;
  color:#d9d9d9;
}
footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*MOBILE*/

@media (max-width:450px) {
  #FanyLouiseLogo{
    height: 40px;
    width: 40px;
  }
  .navLink{
    display: none;
  }
  .presentation h1{
    text-align: center;
  }
  .techs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project1, .project2, .project3, .project4{
    height: 300px;
    width: 270px;
    padding: 1rem;
    background-color: #f8930600;
    border:3px solid #F89406;
    border-radius: 15px;
    margin: 15px auto;
  }

}